.info-node-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 70px;
    height: 70px;
    transform: translate(-50%, -50%);
    user-select: none;
    cursor: pointer;
}

.info-node {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #292929;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
    transition: 0.2s; /* Keep the transition for hover effects */
    user-select: none;
    text-align: center;

}

.info-node-wrapper:hover .info-node {
    scale: 1.1;
    transition: 0.2s;
}

.info-node-wrapper:active .info-node {
    scale: 1;
    opacity: 0.5;
    transition: 0s;
}