.gmnoprint {
    display: none !important;
}

.gm-style-cc {
    display: none !important;
}

button[dir="ltr"] {
    background-color: white !important;
}

/* hide annoying api error popups */
div[style*="background-color: white"][style*="position: absolute"][style*="z-index: 1"] {
    display: none !important;
}

/* hide google icon */
a[title="Open this area in Google Maps (opens a new window)"] {
    display: none !important;
}

/* hide fullscreen button */
button[title="Toggle fullscreen view"] {
    display: none !important;
}
